<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Portfolio</title>

    <meta charset="utf-8" />
    <meta name="author" content="Pedro Abreu" />
    <meta name="description" content="Portfólio" />
    <meta name="keywords" content="portfolio" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" href="../../static/portfolio/css/calculadora.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script src="../../static/portfolio/js/scripts.js"></script>
    
  </head>

  <body>

    <header>

      <nav>
        <a href="index.html">Home</a>
        <a></a>
        <a onmouseover="displayDate()" onmouseout="displayText()" id="date">Data aqui!</a>
        <a href="nome.html"><i class="fas fa-arrow-right"></i></a>
        
        <a href="dark.html"><i class="fas fa-sun"></i></a>
      </nav>

    </header>

    <section class="hero">
        
        <div>
            <input type="text" id="expressao" placeholder="Insira uma expressão aritmética">
            <button onclick="calcular()">Calcular</button>
            <button onclick="limparResultado()">Limpar</button>
        </div>

        <div>
            <p id="result"></p>
        </div>

        <form onsubmit="return colocarFraseImg()">
            <label for="input">Insira uma frase que a imagem o tenha inspirado:</label>
            <input type="text" id="input" name="input">
            <br><br>
            <img src="../../static/portfolio/images/hoquei.png" id="imagem">
            <br><br>
            <input type="submit" value="Inserir frase">
        </form>    

    </section>

    <footer>
      <p>Website desenvolvido por Pedro Abreu,
         Universidade Lusófona,
          2º ano de Engenharia Informática</p>
    </footer>

  </body>
</html>
