{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/licenciatura.css' %}">

    <div class="container">
        <h2>Aptidões e competências</h2>
        {% for competencia in competencias %}
            <div class="card">
                <div class="name">{{ competencia.titulo }}</div>
                <div class="details">Tipo: {{ competencia.descricao }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}