{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/licenciatura.css' %}">

    <div class="container">
        <h2>Formação</h2>
        {% for formacao in formacoes %}
            <div class="card">
                <div class="name">{{ formacao.curso }}</div>
                <div class="details">{{ formacao.local }}</div>
                <div class="details">Início: {{ formacao.data_entrada }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}