{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/licenciatura.css' %}">

    <div class="container">
        {% for cadeira in cadeiras %}
            <div class="card">
                <div class="name">{{ cadeira.nome }}</div>
                <div class="details">{{ cadeira.ano }}º ano - {{ cadeira.semestre }}º semestre</div>
                <div class="details">Occupation: Software Engineer</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}