<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Portfolio</title>

    <meta charset="utf-8" />
    <meta name="author" content="Pedro Abreu" />
    <meta name="description" content="Portfólio" />
    <meta name="keywords" content="portfolio" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" href="../../static/portfolio/css/sobremim.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script src="../../static/portfolio/js/scripts.js"></script>
    
  </head>

  <body>

    <header>

      <nav>
        <a href="index.html">Home</a>
        <a href="index.html" onmouseover="displayTextHome()" onmouseout="displayLeftArrow()" id="hero"><i class="fas fa-arrow-left"></i></a>
        <a href="calculadora.html">JavaScript Playground</a>
        <a href="projetos.html" onmouseover="displayTextPortfolio()" onmouseout="displayRightArrow()" id="portfolio"><i class="fas fa-arrow-right"></i></a>
        
        <a href="dark.html"><i class="fas fa-sun"></i></a>
      </nav>

    </header>

    <section class="hero">
        <p>Educação</p>
        <div class="capitais">
            
            <a>
                <div>
                    <img src="../../static/portfolio/images/lusofona.png">
                </div>
                <div>
                    <p>Licenciatura</p>
                </div>
            </a>
    
            <a>
                <div>
                    <img src="../../static/portfolio/images/stuart.png">
                </div>
                <div>
                    <p>Secundário</p>
                </div>
            </a>
    
            <a>
                <div>
                    <img src="../../static/portfolio/images/ist.png">
                </div>
                <div>
                    <p>Cursos</p>
                </div>
            </a>
        </div>

        <p>Linguagens de programação</p>
        <div class="capitais">
            <a>
                <div>
                    <img src="../../static/portfolio/images/c.png">
                </div>
                <div>
                    <p>C</p>
                </div>
            </a>
    
            <a>
                <div>
                    <img src="../../static/portfolio/images/csharp.png">
                </div>
                <div>
                    <p>C#</p>
                </div>
            </a>
    
            <a>
                <div>
                    <img src="../../static/portfolio/images/python.png">
                </div>
                <div>
                    <p>Python</p>
                </div>
            </a>

            <a>
                <div>
                    <img src="../../static/portfolio/images/java.png">
                </div>
                <div>
                    <p>Java</p>
                </div>
            </a>

            <a>
                <div>
                    <img src="../../static/portfolio/images/javascript.png">
                </div>
                <div>
                    <p>JavaScript</p>
                </div>
            </a>

            <a>
                <div>
                    <img src="../../static/portfolio/images/kotlin.png">
                </div>
                <div>
                    <p>Kotlin</p>
                </div>
            </a>

            <a>
                <div>
                    <img src="../../static/portfolio/images/mysql.png">
                </div>
                <div>
                    <p>MySQL</p>
                </div>
            </a>

        </div>

        <p>Línguas</p>
        <div class="capitais">
            
            <a>
                <div>
                    <img src="../../static/portfolio/images/portugal.png">
                </div>
                <div>
                    <p>Português</p>
                </div>
            </a>
    
            <a>
                <div>
                    <img src="../../static/portfolio/images/inglaterra.png">
                </div>
                <div>
                    <p>Inglês</p>
                </div>
            </a>

        </div>

        <p>Competências pessoais</p>
        <div class="capitais">
            
            <a>
                <div>
                    <img src="../../static/portfolio/images/organizacao.png">
                </div>
                <div>
                    <p>Organizado</p>
                </div>
            </a>
    
            <a>
                <div>
                    <img src="../../static/portfolio/images/equipa.png">
                </div>
                <div>
                    <p>Trabalho em equipa</p>
                </div>
            </a>
    
            <a>
                <div>
                    <img src="../../static/portfolio/images/ambicao.png">
                </div>
                <div>
                    <p>Ambicioso</p>
                </div>
            </a>
        </div>

    </section>

    <footer>
      <p>Website desenvolvido por Pedro Abreu,
         Universidade Lusófona,
          2º ano de Engenharia Informática</p>
    </footer>

  </body>
</html>
