{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/licenciatura.css' %}">

    <div class="container">
        <h2>Trabalhos finais de curso</h2>
        {% for t in tfcs %}
            <a href="{{ t.relatorio }}" target="_blank">
                <div class="card">
                    <div class="name">{{ t.titulo }}</div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}