* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}

header {
  position: sticky;
  height: 5vh;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  z-index: 1;
  grid-area: header;
}

nav {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  color: rgb(59, 59, 59);
  font-weight: bolder;
  font-size: larger;
  overflow: hidden;
}

nav a {
  float: left;
  font-size: 16px;
  color: rgb(59, 59, 59);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(59, 59, 59);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

nav a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255, 0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


main {
  background-image: url(../images/programming.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

footer {
  height:5vh;
  display:flex;
  justify-content: flex-end;
  padding: 0 2vw;
  align-items: center;
}